name: Release Please

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          # リリースタイプを指定 (node, python, simple など)
          release-type: node
          # package.jsonのバージョンを更新
          bump-minor-pre-major: true
          # プレリリースの場合はtrueに設定
          prerelease: false
